Repository smallrye/smallrye-reactive-messaging, pull requests merged in 2020-09, with the labels that each got.

#720 Fix #719 - proper subscription handling in the subscriber wrapper
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/SubscriberWrapper.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/extension/HealthWithSubscriberTest.java
Labels: bug

#725 Handle AMQP TTL when set on connector
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/AmqpMessageConverter.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpSinkTest.java
Labels: bug

#736 Add support for Kafka Record
  .github/workflows/build-master.yml
  .github/workflows/build-pull.yml
  documentation/src/main/doc/modules/kafka/examples/outbound/KafkaRecordExample.java
  documentation/src/main/doc/modules/kafka/pages/outbound.adoc
  smallrye-reactive-messaging-gcp-pubsub/src/test/java/io/smallrye/reactive/messaging/gcp/pubsub/PubSubTest.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/Record.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSink.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/ce/KafkaCloudEventHelper.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/KafkaSinkTest.java
Labels: enhancement, kafka

#740 Implement the `enabled` attribute on channels
  documentation/src/main/doc/modules/ROOT/pages/advanced/advanced.adoc
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/i18n/ProviderLogging.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/impl/ConfiguredChannelFactory.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/impl/ConnectorConfig.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/ack/SubscriberBeanWithMethodsReturningCompletionStage.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/connectors/DisabledConnectorTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/connectors/EnabledConnectorTest.java
  smallrye-reactive-messaging-provider/src/test/resources/config/dummy-connector-config-disabled.properties
  smallrye-reactive-messaging-provider/src/test/resources/config/dummy-connector-config-enabled.properties
Labels: core, enhancement

#738 Introduce Message Converters
  api/src/main/java/io/smallrye/reactive/messaging/MediatorConfiguration.java
  api/src/main/java/io/smallrye/reactive/messaging/MessageConverter.java
  documentation/src/main/doc/modules/ROOT/examples/converters/ConverterExample.java
  documentation/src/main/doc/modules/ROOT/examples/converters/MyConverter.java
  documentation/src/main/doc/modules/ROOT/examples/converters/Person.java
  documentation/src/main/doc/modules/ROOT/nav.adoc
  documentation/src/main/doc/modules/ROOT/pages/model/converters.adoc
  documentation/src/main/doc/modules/ROOT/pages/model/model.adoc
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/AbstractMediator.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/DefaultMediatorConfiguration.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/MediatorConfigurationSupport.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/ProcessorMediator.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/PublisherMediator.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/StreamTransformerMediator.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/SubscriberMediator.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/extension/MediatorManager.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/i18n/ProviderLogging.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/MediatorConfigurationSupportTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/converters/ErroneousConverterTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/converters/MultipleConverterTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/converters/ProcessorWithConverterTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/converters/SubscriberWithConverterTest.java
Labels: core, enhancement

#751 update vertx and mutiny
  documentation/src/main/doc/antora.yml
  documentation/src/main/doc/modules/amqp/pages/inbound.adoc
  documentation/src/main/doc/modules/camel/examples/outbound/CamelPriceProducer.java
  examples/amqp-quickstart/src/main/java/acme/Sender.java
  pom.xml
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/AmqpConnector.java
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/AmqpCreditBasedSender.java
  smallrye-reactive-messaging-camel/src/test/java/io/smallrye/reactive/messaging/camel/documentation/DocumentationTest.java
  smallrye-reactive-messaging-camel/src/test/java/io/smallrye/reactive/messaging/camel/documentation/PriceMessageProducer.java
  smallrye-reactive-messaging-camel/src/test/java/io/smallrye/reactive/messaging/camel/documentation/PriceProducer.java
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/jms/ProducerBean.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/documentation/KafkaPriceMessageProducer.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/documentation/KafkaPriceProducer.java
  smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/MqttSource.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/ConnectionSharingTest.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/extension/AbstractEmitter.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/extension/ThrowingEmitter.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/inject/MutinyEmitterAndAwaitInjectionTest.java
Labels: amqp, camel, core, kafka, mqtt

#672 Set fetch size to before pause value when resuming kafka source
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java
Labels: bug, kafka

#764 Implement Record and ConsumerRecord converter in the Kafka connector
  documentation/src/main/doc/modules/kafka/examples/inbound/Converters.java
  documentation/src/main/doc/modules/kafka/pages/inbound.adoc
  smallrye-reactive-messaging-kafka/pom.xml
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/converters/ConsumerRecordConverter.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/converters/RecordConverter.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/converters/ConsumerRecordConverterTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/converters/CustomConverterTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/converters/RecordConverterTest.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/AbstractMediator.java
Labels: enhancement, kafka, on-roadmap

#770 Do not print the configuration in the log as it may contain sensible data
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaConnector.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/i18n/KafkaLogging.java
Labels: bug

#773 Explain how applications without connectors work
  documentation/src/main/doc/modules/ROOT/pages/concepts.adoc
Labels: core

#775 Cloud Event fixes & Resource cleanup
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-kafka-outgoing.adoc
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaConnector.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/commit/KafkaCommitHandler.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/commit/KafkaThrottledLatestProcessedCommit.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/fault/KafkaDeadLetterQueue.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/fault/KafkaFailureHandler.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSink.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/ce/KafkaCloudEventHelper.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/DefaultConfigTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/KafkaCommitHandlerTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/MetadataPropagationTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/base/KafkaUsage.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/ce/KafkaSinkWithCloudEventsTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/ce/KafkaSourceWithCloudEventsTest.java
Labels: bug, kafka

#782 lookup for CamelReactiveStreamsService before creating an instance
  smallrye-reactive-messaging-camel/src/main/java/io/smallrye/reactive/messaging/camel/CamelConnector.java
  smallrye-reactive-messaging-camel/src/main/java/io/smallrye/reactive/messaging/camel/i18n/CamelExceptions.java
  smallrye-reactive-messaging-camel/src/main/java/io/smallrye/reactive/messaging/camel/i18n/CamelLogging.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/KafkaSourceTest.java
Labels: camel, enhancement
