Repository smallrye/smallrye-reactive-messaging, pull requests merged in 2020-06, with the labels that each got.

#576 Improve MQTT subscription in tests
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/AmqpConnector.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpLinkTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/DefaultConfigTest.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/MqttUsage.java
  smallrye-reactive-messaging-vertx-eventbus/src/test/java/io/smallrye/reactive/messaging/eventbus/EventbusTestBase.java
Labels: mqtt

#583 Wait for the AMQP receiver to be ready before sending messages
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpSourceTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/KafkaTestBase.java
Labels: amqp

#575 Call the `accepted` method on the right context
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/AmqpConnector.java
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/AmqpMessage.java
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/ConnectionHolder.java
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/OutgoingAmqpMessage.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpMessageTest.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpSinkTest.java
Labels: amqp, bug

#585 Use a trampoline to avoid delaying ack if we are already on the event loop
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/ConnectionHolder.java
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/fault/AmqpAccept.java
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/fault/AmqpFailStop.java
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/fault/AmqpReject.java
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/fault/AmqpRelease.java
Labels: amqp, bug

#604 Switch to matrix and AdoptOpenJDK action
  .github/workflows/build-master.yml
  .github/workflows/build-pull.yml
  .github/workflows/release.yml
Labels: infra

#605 Update logging configuration
  documentation/src/main/doc/modules/ROOT/pages/advanced/advanced.adoc
  examples/quickstart/README.md
  examples/quickstart/pom.xml
  examples/quickstart/src/main/resources/logging.properties
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/ObjectExchangeTest.java
  smallrye-reactive-messaging-aws-sns/src/main/java/io/smallrye/reactive/messaging/aws/sns/i18n/SnsLogging.java
  smallrye-reactive-messaging-cloud-events/src/main/java/io/smallrye/reactive/messaging/cloudevents/i18n/CloudEventLogging.java
  smallrye-reactive-messaging-in-memory/src/main/java/io/smallrye/reactive/messaging/connectors/i18n/InMemoryLogging.java
  smallrye-reactive-messaging-mqtt-server/src/main/java/io/smallrye/reactive/messaging/mqtt/server/i18n/MqttServerLogging.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/i18n/ProviderLogging.java
Labels: enhancement

#609 Configure Kafka Source to use the same group-id if configured for con…
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaConnector.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/KafkaSourceTest.java
Labels: bug, kafka

#617 Use mutiny retry expire when handling failure during kafka re-balance
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java
Labels: enhancement, kafka

#618 Use the proper tag when importing the KafkaMetadataExample code
  documentation/src/main/doc/modules/kafka/pages/inbound.adoc
Labels: kafka

#619 Fix example execution (maven-exec-plugin config issue)
  examples/amqp-quickstart/pom.xml
  examples/kafka-quickstart-kotlin/pom.xml
  examples/mqtt-quickstart/README.md
  examples/mqtt-quickstart/pom.xml
  examples/mqtt-quickstart/src/main/java/acme/Sender.java
  examples/mqtt-quickstart/src/main/resources/META-INF/microprofile-config.properties
  examples/mqtt-server-quickstart/pom.xml
  examples/mqtt-server-quickstart/src/main/java/acme/MqttServerQuickstart.java
Labels: bug

#620 Fix #615 - Add support for MQTT wildcard in the MQTT Source
  documentation/src/main/doc/modules/mqtt/pages/inbound.adoc
  smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/Clients.java
  smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/MqttConnector.java
  smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/MqttSink.java
  smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/MqttSource.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/DynamicMqttTopicSourceTest.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/DynamicTopicProducingBean.java
Labels: bug

#632 #631 Memoize KafkaSink retries config and retry only if above 0
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSink.java
Labels: bug
