Repository smallrye/smallrye-reactive-messaging, pull requests merged in 2021-03, with the labels that each got.

#1075 AMQP - Expose virtual host attribute
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-amqp-incoming.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-amqp-outgoing.adoc
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/AmqpClientHelper.java
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/AmqpConnector.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpConnectionTest.java
Labels: amqp, backport 3.x, enhancement

#1079 [Backport 3.x] AMQP - Expose virtual host attribute
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-amqp-incoming.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-amqp-outgoing.adoc
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/AmqpClientHelper.java
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/AmqpConnector.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpConnectionTest.java
Labels: amqp

#1098 Modify KafkaConnector.TRACER initialization out of class construction
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaConnector.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/commit/CommitStrategiesTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/serde/SerializerConfigurationTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/tracing/TracingPropagationTest.java
Labels: backport-3.x, kafka

#1105 Configure CI to build on Java 15 and 16
  .github/workflows/build-main-branches.yml
  .github/workflows/build-pull.yml
  pom.xml
Labels: backport-3.x, infra

#1104 Bump vertx mutiny 2.2.0
  pom.xml
Labels: dependencies

#1109 Add a few tests around the ConnectorAttributeProcessor
  smallrye-connector-attribute-processor/src/main/java/io/smallrye/reactive/messaging/connector/CommonConfigurationClassWriter.java
  smallrye-connector-attribute-processor/src/main/java/io/smallrye/reactive/messaging/connector/ConfigurationDocWriter.java
  smallrye-connector-attribute-processor/src/test/java/io/smallrye/reactive/messaging/connector/ClassWriterTest.java
  smallrye-connector-attribute-processor/src/test/java/io/smallrye/reactive/messaging/connector/ConfigurationClassWriterTest.java
  smallrye-connector-attribute-processor/src/test/java/io/smallrye/reactive/messaging/connector/ConfigurationDocWriterTest.java
  smallrye-connector-attribute-processor/src/test/java/io/smallrye/reactive/messaging/connector/ConnectorAttributeLiteral.java
Labels: backport-3.x, infra

#1107 [3.x] Backport Add delivery.timeout.ms configuration parameter
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-kafka-outgoing.adoc
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaConnector.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSink.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/KafkaSinkTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/fault/KafkaNackOnExpirationTimeFailureTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/serde/SerializerConfigurationTest.java
Labels: enhancement, kafka

#1112 [3.x] Backport Add a few tests around the ConnectorAttributeProcessor
  smallrye-connector-attribute-processor/src/main/java/io/smallrye/reactive/messaging/connector/CommonConfigurationClassWriter.java
  smallrye-connector-attribute-processor/src/main/java/io/smallrye/reactive/messaging/connector/ConfigurationDocWriter.java
  smallrye-connector-attribute-processor/src/test/java/io/smallrye/reactive/messaging/connector/ClassWriterTest.java
  smallrye-connector-attribute-processor/src/test/java/io/smallrye/reactive/messaging/connector/ConfigurationClassWriterTest.java
  smallrye-connector-attribute-processor/src/test/java/io/smallrye/reactive/messaging/connector/ConfigurationDocWriterTest.java
  smallrye-connector-attribute-processor/src/test/java/io/smallrye/reactive/messaging/connector/ConnectorAttributeLiteral.java
Labels: infra

#1115 Update Weld to 3.1.7.Final
  documentation/src/main/doc/antora.yml
  pom.xml
Labels: backport-3.x, dependencies

#1116 [3.x] Backport Update Weld to 3.1.7.Final
  documentation/src/main/doc/antora.yml
  pom.xml
Labels: dependencies

#1124 Fix MQTT Client when the keystore/truststore password is missing
  smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/MqttHelpers.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/MutualTlsMqttSourceTest.java
Labels: backport-3.x, mqtt

#1126 [3.x] Backport MQTT Client TLS Implementation
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-mqtt-incoming.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-mqtt-outgoing.adoc
  smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/MqttConnector.java
  smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/MqttHelpers.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/MqttUsage.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/MutualTlsMqttSourceTest.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/MutualTlsMqttTestBase.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/TlsMqttSourceTest.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/TlsMqttTestBase.java
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/README.md
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/client/client.crt
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/client/client.csr
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/client/client.ks
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/client/client.ts
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/mosquitto-mtls.conf
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/mosquitto.conf
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/mqtt-pwd.txt
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/server/ca.crt
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/server/ca.key
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/server/ca.srl
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/server/tls.crt
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/server/tls.csr
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/server/tls.key
Labels: enhancement, mqtt

#1121 Add more tests around MediatorConfiguration and TypeUtils
  smallrye-connector-attribute-processor/pom.xml
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/OutgoingAmqpMetadataTest.java
  smallrye-reactive-messaging-cloud-events/src/test/java/io/smallrye/reactive/messaging/cloudevents/CloudEventMessageBuilderTest.java
  smallrye-reactive-messaging-gcp-pubsub/pom.xml
  smallrye-reactive-messaging-health/pom.xml
  smallrye-reactive-messaging-jms/pom.xml
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/jms/JmsSinkTest.java
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/jms/JmsSourceTest.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/MediatorConfigurationSupport.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/extension/LazySource.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/helpers/TypeUtils.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/MediatorConfigurationSupportTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/helpers/TypeUtilsTest.java
  test-common/src/test/java/io/smallrye/reactive/messaging/test/common/config/MapBasedConfigTest.java
Labels: infra

#1129 [3.x] Backport Add more tests around MediatorConfiguration and TypeUtils
  smallrye-connector-attribute-processor/pom.xml
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/OutgoingAmqpMetadataTest.java
  smallrye-reactive-messaging-cloud-events/src/test/java/io/smallrye/reactive/messaging/cloudevents/CloudEventMessageBuilderTest.java
  smallrye-reactive-messaging-gcp-pubsub/pom.xml
  smallrye-reactive-messaging-health/pom.xml
  smallrye-reactive-messaging-jms/pom.xml
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/jms/JmsSinkTest.java
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/jms/JmsSourceTest.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/MediatorConfigurationSupport.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/extension/LazySource.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/helpers/TypeUtils.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/MediatorConfigurationSupportTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/helpers/TypeUtilsTest.java
  test-common/src/test/java/io/smallrye/reactive/messaging/test/common/config/MapBasedConfigTest.java
Labels: infra

#1128 [3.x] Backport Fix MQTT Client when the keystore/truststore password is missing
  smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/MqttHelpers.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/MutualTlsMqttSourceTest.java
Labels: enhancement, mqtt

#1127 Improve Kafka source health check to handle the lazy consumption case
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/health/KafkaSourceReadinessHealth.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/health/HealthCheckTest.java
Labels: backport-3.x, enhancement, kafka

#1131 [3.x] Backport Improve Kafka source health check to handle the lazy consumption case
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/health/KafkaSourceReadinessHealth.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/health/HealthCheckTest.java
Labels: enhancement, kafka

#1132 Fix MQTT SSL Helpers to better handle misconfigurations
  smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/MqttHelpers.java
Labels: infra, mqtt

#1133 [3.x] Backport Fix MQTT SSL Helpers to better handle misconfigurations
  smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/MqttHelpers.java
Labels: infra, mqtt
