Repository smallrye/smallrye-reactive-messaging, pull requests merged in 2021-01, with the labels that each got.

#921 Properly log failures happening in subscriber methods.
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/SubscriberMediator.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/i18n/ProviderLogging.java
Labels: core

#924 Improve error reporting in case of invalid signature.
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/MediatorConfigurationSupport.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/connectors/WorkerPoolRegistry.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/i18n/ProviderExceptions.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/SubscriberShapeTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/blocking/BlockingSubscriberTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/blocking/beans/IncomingDefaultBlockingBean.java
Labels: core, enhancement

#931 various AMQP test improvements
  .github/workflows/build-master.yml
  .github/workflows/build-pull.yml
  smallrye-reactive-messaging-amqp/pom.xml
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpFailureHandlerTest.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpLinkTest.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpSinkCDIConfigTest.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpSinkTest.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpSourceCDIConfigTest.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpSourceTest.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpTestBase.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpWithConverterTest.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/DispositionRecord.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/IncomingAmqpMetadataTest.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/ProducingBeanUsingOutboundMetadata.java
Labels: amqp

#929 Detect and throw a CDI DefinitionException when trying to inject an Emitter<Message<?>>
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/extension/AbstractEmitter.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/extension/ChannelProducer.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/i18n/ProviderExceptions.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/impl/ConfiguredChannelFactory.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/inject/EmitterInjectionTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/inject/LegacyEmitterInjectionTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/inject/MutinyEmitterAndAwaitInjectionTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/inject/MutinyEmitterAndForgetInjectionTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/inject/MutinyEmitterInjectionTest.java
Labels: core, enhancement

#946 Kafka - Avoid high-load after a disconnection
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaAdminHelper.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSink.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java
Labels: kafka

#948 Make sure the Kafka Admin client config contain sasl attributes
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaAdminHelper.java
Labels: bug, kafka

#947 Fix Kafka producer close that can block forever
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-kafka-outgoing.adoc
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaConnector.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSink.java
Labels: bug, kafka

#951 Mark @Channel and @Emitter experimental
  api/src/main/java/org/eclipse/microprofile/reactive/messaging/Channel.java
  api/src/main/java/org/eclipse/microprofile/reactive/messaging/Emitter.java
Labels: bug

#961 Remove RX Java runtime support
  documentation/src/main/doc/modules/ROOT/pages/model/processing-streams.adoc
  pom.xml
  smallrye-reactive-messaging-mqtt-server/src/main/java/io/smallrye/reactive/messaging/mqtt/server/MqttServerSource.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/DynamicTopicProducingBean.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/MqttSinkTest.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/ProducingBean.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/extension/ChannelProducer.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/PublisherShapeTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanProducingMessagesAsCustomPublisher.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanProducingMessagesAsFlowable.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanProducingPayloadAsCustomPublisher.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanProducingPayloadAsFlowable.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/inject/BeanInjectedNonExistentLegacyChannel.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/inject/BeanInjectedWithAFlowableOfMessages.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/inject/BeanInjectedWithAFlowableOfPayloads.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/inject/BeanInjectedWithDifferentFlavorsOfTheSameChannel.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/inject/BeanInjectedWithDifferentFlavorsOfTheSameChannelLegacy.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/inject/ChannelInjectionTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/merge/BeanUsingMerge.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/merge/BeanUsingOne.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/merge/InvalidBindingTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/metadata/PublisherPropagationTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/metadata/SimplePropagationTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/tck/MessagingManager.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/tck/MockPayload.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/tck/MockedReceiver.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/tck/MockedSender.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/tck/QuietRuntimeException.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/tck/ReceiveTimeoutException.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/tck/SimpleMessage.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/tck/incoming/Bean.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/tck/incoming/IncomingTest.java
Labels: breaking-change

#962 Allows invoking non-public methods
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/DefaultMediatorConfiguration.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanConsumingItemAsFlowableAndPublishingItemAsFlowable.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanConsumingItemsAndProducingItems.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanConsumingItemsAndProducingMessages.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanConsumingMessagesAndProducingItems.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanConsumingMessagesAndProducingMessages.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanConsumingMessagesAndReturningACompletionStageOfSomething.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanConsumingMessagesAndReturningACompletionStageOfVoid.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanConsumingMessagesAndReturningSomething.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanConsumingMessagesAndReturningVoid.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanConsumingMsgAsFlowableAndPublishingMsgAsFlowable.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanConsumingMsgAsFlowableAndPublishingMsgAsPublisher.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanConsumingMsgAsMultiAndPublishingMsgAsMulti.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanConsumingMsgAsPublisherBuilderAndPublishingMsgAsPublisherBuilder.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanProducingACompletableFuture.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanProducingAProcessorBuilderOfPayloads.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanProducingAProcessorOfPayloads.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanProducingMessagesAsMulti.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanProducingPayloadAsPublisher.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanReturningAPublisherBuilderOfMessages.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanReturningASubscriberOfMessages.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/beans/BeanReturningMessages.java
Labels: enhancement

#953 The AMQP incoming `durable` attribute should be false by default
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-amqp-incoming.adoc
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/AmqpConnector.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/HeaderPropagationAmqpToAppToAmqpTest.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/RabbitMQTest.java
Labels: amqp, breaking-change

#956 Implement a new approach for the Kafka readiness check
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-kafka-incoming.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-kafka-outgoing.adoc
  documentation/src/main/doc/modules/kafka/pages/health.adoc
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaConnector.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/health/KafkaSinkReadinessHealth.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/health/KafkaSourceReadinessHealth.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSink.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/EnvAndSysConfigTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/KafkaSinkTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/MultiTopicsTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/NoKafkaTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/base/WeldTestBase.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/health/HealthCheckTest.java
Labels: kafka
