Repository smallrye/smallrye-reactive-messaging, pull requests merged in 2021-08, with the labels that each got.

#1357 Update CI to build the project with Java 8, 11, 16 and 17-EA
  .github/workflows/build-main-branches.yml
  .github/workflows/build-pull.yml
  documentation/src/main/doc/antora.yml
  pom.xml
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/config/ConfigOverrideFromEnvTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/config/EnvAndSysConfigTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/impl/JsonHelperTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/impl/ConnectorConfigTest.java
Labels: infra

#1360 Fail by default on deserialization issues
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-kafka-incoming.adoc
  documentation/src/main/doc/modules/kafka/pages/inbound.adoc
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaConnector.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/fault/DeserializerWrapper.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/ConfigurationCleaner.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/ReactiveKafkaConsumer.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/serde/DeserializationFailureHandlerTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/serde/KeyDeserializerConfigurationTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/serde/ValueDeserializerConfigurationTest.java
Labels: kafka, breaking-change

#1304 Issue #1296 = split jms implementation from specific json (de)seriali…
  api/src/main/java/io/smallrye/reactive/messaging/json/JsonMapping.java
  documentation/src/main/doc/modules/jms/pages/inbound.adoc
  documentation/src/main/doc/modules/jms/pages/outbound.adoc
  documentation/src/main/doc/modules/jms/pages/serde.adoc
  pom.xml
  smallrye-reactive-messaging-jackson/pom.xml
  smallrye-reactive-messaging-jackson/src/main/java/io/smallrye/reactive/messaging/json/JacksonMapping.java
  smallrye-reactive-messaging-jackson/src/test/java/io/smallrye/reactive/messaging/json/JacksonMappingTest.java
  smallrye-reactive-messaging-jackson/src/test/java/io/smallrye/reactive/messaging/json/JmsConnectorTest.java
  smallrye-reactive-messaging-jackson/src/test/java/io/smallrye/reactive/messaging/json/ObjectMapperProvider.java
  smallrye-reactive-messaging-jackson/src/test/java/io/smallrye/reactive/messaging/json/Person.java
  smallrye-reactive-messaging-jackson/src/test/java/io/smallrye/reactive/messaging/json/PersonConsumerBean.java
  smallrye-reactive-messaging-jackson/src/test/java/io/smallrye/reactive/messaging/json/PersonProducerBean.java
  smallrye-reactive-messaging-jackson/src/test/java/io/smallrye/reactive/messaging/json/TestObject.java
  smallrye-reactive-messaging-jackson/src/test/java/io/smallrye/reactive/messaging/support/ArtemisHolder.java
  smallrye-reactive-messaging-jackson/src/test/java/io/smallrye/reactive/messaging/support/ConnectionFactoryBean.java
  smallrye-reactive-messaging-jackson/src/test/java/io/smallrye/reactive/messaging/support/JmsTestBase.java
  smallrye-reactive-messaging-jackson/src/test/resources/broker.xml
  smallrye-reactive-messaging-jms/pom.xml
  smallrye-reactive-messaging-jms/src/main/java/io/smallrye/reactive/messaging/jms/IncomingJmsMessage.java
  smallrye-reactive-messaging-jms/src/main/java/io/smallrye/reactive/messaging/jms/JmsConnector.java
  smallrye-reactive-messaging-jms/src/main/java/io/smallrye/reactive/messaging/jms/JmsSink.java
  smallrye-reactive-messaging-jms/src/main/java/io/smallrye/reactive/messaging/jms/JmsSource.java
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/jms/DeprecatedNamedFactoryTest.java
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/jms/HeaderPropagationTest.java
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/jms/JmsConnectorTest.java
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/jms/JmsSinkTest.java
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/jms/JmsSourceTest.java
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/jms/NamedFactoryTest.java
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/jms/TestMapping.java
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/support/ArtemisHolder.java
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/support/ConnectionFactoryBean.java
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/support/JmsTestBase.java
  smallrye-reactive-messaging-jsonb/pom.xml
  smallrye-reactive-messaging-jsonb/src/main/java/io/smallrye/reactive/messaging/json/JsonBMapping.java
  smallrye-reactive-messaging-jsonb/src/test/java/io/smallrye/reactive/messaging/json/JmsConnectorTest.java
  smallrye-reactive-messaging-jsonb/src/test/java/io/smallrye/reactive/messaging/json/JsonBMappingTest.java
  smallrye-reactive-messaging-jsonb/src/test/java/io/smallrye/reactive/messaging/json/JsonBProvider.java
  smallrye-reactive-messaging-jsonb/src/test/java/io/smallrye/reactive/messaging/json/Person.java
  smallrye-reactive-messaging-jsonb/src/test/java/io/smallrye/reactive/messaging/json/PersonConsumerBean.java
  smallrye-reactive-messaging-jsonb/src/test/java/io/smallrye/reactive/messaging/json/PersonProducerBean.java
  smallrye-reactive-messaging-jsonb/src/test/java/io/smallrye/reactive/messaging/json/TestObject.java
  smallrye-reactive-messaging-jsonb/src/test/java/io/smallrye/reactive/messaging/support/ArtemisHolder.java
  smallrye-reactive-messaging-jsonb/src/test/java/io/smallrye/reactive/messaging/support/ConnectionFactoryBean.java
  smallrye-reactive-messaging-jsonb/src/test/java/io/smallrye/reactive/messaging/support/JmsTestBase.java
  smallrye-reactive-messaging-jsonb/src/test/resources/broker.xml
Labels: enhancement, breaking-change, jms

#1365 Assign a different context for each Kafka consumer
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/commit/KafkaThrottledLatestProcessedCommit.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/commit/PartitionTest.java
Labels: bug, kafka

#1388 Avoid attribute hyphenation in the connector configuration tables
  documentation/src/main/antora/ui-bundle.zip
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-amqp-incoming.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-amqp-outgoing.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-camel-incoming.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-camel-outgoing.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-jms-incoming.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-jms-outgoing.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-kafka-incoming.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-kafka-outgoing.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-mqtt-incoming.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-mqtt-outgoing.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-rabbitmq-incoming.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-rabbitmq-outgoing.adoc
  smallrye-connector-attribute-processor/src/main/java/io/smallrye/reactive/messaging/connector/ConfigurationDocWriter.java
Labels: bug, infra
