Repository smallrye/smallrye-reactive-messaging, pull requests merged in 2021-09, with the labels that each got.

#1397 Fix flaky pause resume test
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/client/PauseResumeTest.java
Labels: kafka, infra

#1396 Fix Kafka throttled commit strategy rebalance issue on load with multiple partitions
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-kafka-incoming.adoc
  documentation/src/main/doc/modules/kafka/pages/inbound.adoc
  documentation/src/main/doc/modules/kafka/pages/outbound.adoc
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaConnector.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/commit/KafkaCommitHandler.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/commit/KafkaThrottledLatestProcessedCommit.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/i18n/KafkaLogging.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/ReactiveKafkaConsumer.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/base/KafkaTestBase.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/client/PauseResumeTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/client/SourceBackPressureWithBrokerTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/commit/CommitStrategiesTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/commit/DeprecatedCommitStrategiesTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/commit/KafkaCommitHandlerTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/commit/PartitionTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/commit/RebalanceTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/health/HealthCheckTest.java
Labels: bug, kafka

#1398 Improve Emitter error handling
  documentation/src/main/doc/modules/ROOT/pages/emitter/emitter.adoc
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/extension/AbstractEmitter.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/extension/MutinyEmitterImpl.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/helpers/NoStackTraceException.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/i18n/ProviderExceptions.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/inject/InjectionWithoutSubscriberTest.java
Labels: enhancement, core

#1402 Update MicroProfile Reactive Messaging to version 2.0.1
  documentation/src/main/doc/antora.yml
  pom.xml
Labels: core

#1416 Fix merged config implementation
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaConnector.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/i18n/KafkaExceptions.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/KafkaConfigMergeTest.java
Labels: bug, kafka

#1092 Implement default and named config lookup for the kafka connector
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-kafka-incoming.adoc
  documentation/src/main/doc/modules/connectors/partials/META-INF/connector/smallrye-kafka-outgoing.adoc
  documentation/src/main/doc/modules/kafka/pages/default-configuration.adoc
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaConnector.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/ConfigHelper.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/KafkaConfigMergeTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/KafkaSourceTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/KafkaSourceWithLegacyMetadataTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/config/DefaultConfigTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/impl/ConfigHelperTest.java
Labels: enhancement, kafka

#1424 Reduce the log level of Kafka messages (18237 and 18248)
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaConnector.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/i18n/KafkaLogging.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSink.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/KafkaSource.java
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/impl/ReactiveKafkaProducer.java
Labels: kafka

#1364 Reduce the dependency on Reactive Streams Operators
  api/src/main/java/io/smallrye/reactive/messaging/ChannelRegistry.java
  api/src/main/java/io/smallrye/reactive/messaging/connector/InboundConnector.java
  api/src/main/java/io/smallrye/reactive/messaging/connector/OutboundConnector.java
  documentation/src/main/doc/modules/ROOT/pages/advanced/blocking.adoc
  smallrye-reactive-messaging-in-memory/src/test/java/io/smallrye/reactive/messaging/connectors/WeldTestBase.java
  smallrye-reactive-messaging-jackson/src/test/java/io/smallrye/reactive/messaging/support/JmsTestBase.java
  smallrye-reactive-messaging-jms/src/test/java/io/smallrye/reactive/messaging/support/JmsTestBase.java
  smallrye-reactive-messaging-jsonb/src/test/java/io/smallrye/reactive/messaging/support/JmsTestBase.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/base/WeldTestBase.java
  smallrye-reactive-messaging-mqtt/src/test/java/io/smallrye/reactive/messaging/mqtt/MqttTestBase.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/AbstractMediator.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/ProcessorMediator.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/PublisherDecorator.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/PublisherMediator.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/StreamTransformerMediator.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/SubscriberMediator.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/extension/AbstractEmitter.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/extension/ChannelProducer.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/helpers/BroadcastHelper.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/helpers/IgnoringSubscriber.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/helpers/MultiUtils.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/i18n/ProviderExceptions.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/i18n/ProviderLogging.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/impl/ConfiguredChannelFactory.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/impl/ConnectorFactories.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/impl/InternalChannelRegistry.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/impl/LegacyConfiguredChannelFactory.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/metrics/MetricDecorator.java
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/wiring/Wiring.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/PublisherShapeTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/RequestProtocolTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/SubscriberShapeTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/WeldTestBaseWithoutTails.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/blocking/BlockingPublisherTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/blocking/BlockingWithoutExecutionHolderTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/blocking/UnorderedBlockingTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/connectors/ConnectorFactoryRegistrationTest.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/decorator/AppendingDecorator.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/decorator/CountingDecorator.java
Labels: core

#1434 Handle Vert.x Context in MutinyEmitter.send
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/extension/MutinyEmitterImpl.java
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/inject/MutinyEmitterInjectionTest.java
Labels: enhancement, core

#1435 Add no-arg constructor for CDI instantiation,
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/impl/ConnectorFactories.java
Labels: bug
