Repository smallrye/smallrye-reactive-messaging, pull requests merged in 2022-05, with the labels that each got.

#1725 Add some SSL configuration descriptions
  smallrye-reactive-messaging-mqtt/src/main/java/io/smallrye/reactive/messaging/mqtt/MqttConnector.java
Labels: mqtt

#1747 Fix RabbitMQ connector issues
  documentation/src/main/docs/rabbitmq/receiving-messages-from-rabbitmq.md
  smallrye-reactive-messaging-rabbitmq/src/main/java/io/smallrye/reactive/messaging/rabbitmq/RabbitMQClientHelper.java
  smallrye-reactive-messaging-rabbitmq/src/main/java/io/smallrye/reactive/messaging/rabbitmq/RabbitMQConnector.java
  smallrye-reactive-messaging-rabbitmq/src/main/java/io/smallrye/reactive/messaging/rabbitmq/i18n/RabbitMQLogging.java
  smallrye-reactive-messaging-rabbitmq/src/test/java/io/smallrye/reactive/messaging/rabbitmq/RabbitMQTest.java
Labels: rabbitmq

#1757 Add the selector attribute to the AMQP connector (incoming)
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/AmqpConnector.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/JMSSelectorTest.java
Labels: enhancement, amqp
