Repository smallrye/smallrye-reactive-messaging, pull requests merged in 2022-03, with the labels that each got.

#1625 The single active consumer feature of RabbitMQ can now be activated u…
  smallrye-reactive-messaging-rabbitmq/src/main/java/io/smallrye/reactive/messaging/rabbitmq/RabbitMQConnector.java
  smallrye-reactive-messaging-rabbitmq/src/test/java/io/smallrye/reactive/messaging/rabbitmq/RabbitMQTest.java
Labels: rabbitmq

#1636 Fix the check for topic creation
  smallrye-reactive-messaging-kafka-test-companion/src/main/java/io/smallrye/reactive/messaging/kafka/companion/TopicsCompanion.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/client/ClientTestBase.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/client/ReactiveKafkaBatchConsumerTest.java
  smallrye-reactive-messaging-rabbitmq/src/main/java/io/smallrye/reactive/messaging/rabbitmq/OutgoingRabbitMQMetadata.java
Labels: kafka

#1639 Fix some flaky tests
  smallrye-reactive-messaging-kafka-test-companion/src/main/java/io/smallrye/reactive/messaging/kafka/companion/ConsumerBuilder.java
  smallrye-reactive-messaging-kafka-test-companion/src/main/java/io/smallrye/reactive/messaging/kafka/companion/KafkaCompanion.java
  smallrye-reactive-messaging-kafka-test-companion/src/main/java/io/smallrye/reactive/messaging/kafka/companion/KafkaTask.java
  smallrye-reactive-messaging-kafka-test-companion/src/main/java/io/smallrye/reactive/messaging/kafka/companion/ProducerBuilder.java
  smallrye-reactive-messaging-kafka-test-companion/src/main/java/io/smallrye/reactive/messaging/kafka/companion/RecordsSubscriber.java
  smallrye-reactive-messaging-kafka-test-companion/src/main/java/io/smallrye/reactive/messaging/kafka/companion/TopicsCompanion.java
  smallrye-reactive-messaging-kafka-test-companion/src/main/java/io/smallrye/reactive/messaging/kafka/companion/test/KafkaBrokerExtension.java
  smallrye-reactive-messaging-kafka-test-companion/src/main/java/io/smallrye/reactive/messaging/kafka/companion/test/KafkaToxiproxyExtension.java
  smallrye-reactive-messaging-kafka-test-companion/src/test/java/io/smallrye/reactive/messaging/kafka/companion/ConsumerTest.java
  smallrye-reactive-messaging-kafka-test-companion/src/test/java/io/smallrye/reactive/messaging/kafka/companion/OffsetsTest.java
  smallrye-reactive-messaging-kafka-test-companion/src/test/java/io/smallrye/reactive/messaging/kafka/companion/ProducerTest.java
  smallrye-reactive-messaging-kafka-test-companion/src/test/java/io/smallrye/reactive/messaging/kafka/companion/TestTags.java
  smallrye-reactive-messaging-kafka-test-companion/src/test/java/io/smallrye/reactive/messaging/kafka/companion/TopicsTest.java
  smallrye-reactive-messaging-kafka-test-companion/src/test/java/io/smallrye/reactive/messaging/kafka/companion/test/EmbeddedKafkaTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/BatchConsumerTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/KafkaSourceTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/KafkaSourceWithLegacyMetadataTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/MultiTopicsTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/ProducerRecordTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/ProducerRecordWithLegacyMetadataTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/client/BrokerRestartTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/client/ClientTestBase.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/client/KafkaClientReactiveStreamsPublisherTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/client/ReactiveKafkaBatchConsumerTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/client/ReactiveKafkaProducerTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/commit/BatchCommitStrategiesTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/commit/KafkaCommitHandlerTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/commit/PartitionTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/health/HealthCheckTest.java
  smallrye-reactive-messaging-kafka/src/test/java/io/smallrye/reactive/messaging/kafka/perf/PerformanceProducerTest.java
Labels: infra

#1590 Recreate a sender when the link is closed by the remote party.
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/AmqpConnector.java
Labels: amqp

#1648 Mention `pause-if-no-requests` in the Reactive Kafka Consumer pause and resume method javadoc
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/KafkaConsumer.java
Labels: kafka

#1651 Short documentation about duplicated context
  documentation/mkdocs.yml
  documentation/src/main/docs/concepts/message-context.md
  smallrye-reactive-messaging-provider/src/test/java/io/smallrye/reactive/messaging/locals/LocalPropagationTest.java
Labels: amqp, kafka, core, mqtt, rabbitmq

#1655 Setup Revapi for tracking API changes
  .github/CompatibilityUtils.java
  .github/deploy.sh
  api/pom.xml
  api/revapi.json
  pom.xml
  smallrye-reactive-messaging-amqp/pom.xml
  smallrye-reactive-messaging-amqp/revapi.json
  smallrye-reactive-messaging-camel/pom.xml
  smallrye-reactive-messaging-camel/revapi.json
  smallrye-reactive-messaging-in-memory/pom.xml
  smallrye-reactive-messaging-in-memory/revapi.json
  smallrye-reactive-messaging-jms/pom.xml
  smallrye-reactive-messaging-jms/revapi.json
  smallrye-reactive-messaging-kafka-api/pom.xml
  smallrye-reactive-messaging-kafka-api/revapi.json
  smallrye-reactive-messaging-kafka-test-companion/pom.xml
  smallrye-reactive-messaging-kafka-test-companion/revapi.json
  smallrye-reactive-messaging-kafka-test-companion/src/main/java/io/smallrye/reactive/messaging/kafka/companion/RecordsSubscriber.java
  smallrye-reactive-messaging-kafka-test-companion/src/test/java/io/smallrye/reactive/messaging/kafka/companion/TopicsTest.java
  smallrye-reactive-messaging-kafka/pom.xml
  smallrye-reactive-messaging-kafka/revapi.json
  smallrye-reactive-messaging-mqtt/pom.xml
  smallrye-reactive-messaging-mqtt/revapi.json
  smallrye-reactive-messaging-provider/pom.xml
  smallrye-reactive-messaging-provider/revapi.json
  smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/providers/wiring/Wiring.java
  smallrye-reactive-messaging-rabbitmq/pom.xml
  smallrye-reactive-messaging-rabbitmq/revapi.json
  smallrye-reactive-messaging-rabbitmq/src/main/java/io/smallrye/reactive/messaging/rabbitmq/IncomingRabbitMQMetadata.java
  smallrye-reactive-messaging-rabbitmq/src/test/java/io/smallrye/reactive/messaging/rabbitmq/IncomingRabbitMQMetadataTest.java
Labels: amqp, kafka, core, mqtt, camel, jms, rabbitmq

#1570 Syncs RabbitMQ incoming/outgoing metadata & message
  documentation/src/main/java/rabbitmq/inbound/RabbitMQMetadataExample.java
  smallrye-reactive-messaging-rabbitmq/src/main/java/io/smallrye/reactive/messaging/rabbitmq/IncomingRabbitMQMessage.java
  smallrye-reactive-messaging-rabbitmq/src/main/java/io/smallrye/reactive/messaging/rabbitmq/IncomingRabbitMQMetadata.java
  smallrye-reactive-messaging-rabbitmq/src/main/java/io/smallrye/reactive/messaging/rabbitmq/OutgoingRabbitMQMetadata.java
  smallrye-reactive-messaging-rabbitmq/src/test/java/io/smallrye/reactive/messaging/rabbitmq/RabbitMQMetadataTest.java
Labels: rabbitmq

#1656 Fix duration unit mismatch with RabbitMQ reconnect interval
  smallrye-reactive-messaging-rabbitmq/src/main/java/io/smallrye/reactive/messaging/rabbitmq/RabbitMQClientHelper.java
  smallrye-reactive-messaging-rabbitmq/src/main/java/io/smallrye/reactive/messaging/rabbitmq/RabbitMQConnector.java
Labels: bug, rabbitmq

#1668 If on startup we do not get credits, make sure we enqueue a credit retrieval task.
  smallrye-reactive-messaging-amqp/src/main/java/io/smallrye/reactive/messaging/amqp/AmqpCreditBasedSender.java
  smallrye-reactive-messaging-amqp/src/test/java/io/smallrye/reactive/messaging/amqp/AmqpCreditTest.java
Labels: bug, amqp

#1670 Fix typo in the kafka receiving-kafka-records doc
  documentation/src/main/docs/kafka/receiving-kafka-records.md
Labels: bug, kafka

#1676 Fix DLQ producer client id
  smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/fault/KafkaDeadLetterQueue.java
Labels: kafka

#1683 Update MQTT TLS certificates used in tests.
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/README.md
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/client/client.crt
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/client/client.csr
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/client/client.ks
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/client/client.ts
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/password.txt
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/server/ca.crt
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/server/ca.key
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/server/ca.srl
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/server/tls.crt
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/server/tls.csr
  smallrye-reactive-messaging-mqtt/src/test/resources/mosquitto-tls/server/tls.key
Labels: infra
